_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
/data/raspi/src/praxis/QualityAssurance2020/__pycache__
/data/raspi/src/praxis/__pycache__/*.pyc
/.vs
