_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
/data/raspi/src/praxis/QualityAssurance2020/__pycache__
/data/raspi/src/praxis/__pycache__/*.pyc
/.vs
/_posts/.vs/ProjectSettings.json
/_posts/.vs/VSWorkspaceState.json
/_posts/.vs/_posts/v16/.suo
/_posts/.vs/slnx.sqlite
/data/raspi/src/.vscode/.ropeproject/objectdb
mov/20200720 1624-1-jsprit Java Routing - TODO-VIDEO-CROP-TOP-171.mp4
