<!DOCTYPE html>
<html>
<head>
    <title>layout: page
permalink: /tags/
title: Tags</title>
</head>
<body>

    <hr />
<h2 id="layout-page-permalink-tags-title-tags">layout: page
permalink: /tags/
title: Tags</h2>
<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture category_name %}{{ tag | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
<pre><code>&lt;h3 class=&quot;category-head&quot;&gt;{{ category_name }}&lt;/h3&gt;
&lt;a name=&quot;{{ category_name | slugize }}&quot;&gt;&lt;/a&gt;
{% for post in site.tags[tag_name] %}
&lt;article class=&quot;archive-item&quot;&gt;
  &lt;h4&gt;&lt;a href=&quot;{{ site.baseurl }}{{ post.url }}&quot;&gt;{{post.title}}&lt;/a&gt;&lt;/h4&gt;
&lt;/article&gt;
{% endfor %}
</code></pre>
  </div>
{% endfor %}
</div>


</body>
</html>